<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rejestracja</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
            }
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            .content {
                padding: 20px;
                border: 1px solid black;
            }
            .content input {
                margin-bottom: 10px;
            }
            .content button {
                margin-top: 10px;
            }
            .message {
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1>Rejestracja</h1>
                <form method="POST">
                    <div>
                        <input type="text" name="txtUser" placeholder="Nazwa użytkownika" />
                    </div>
                    <div>
                        <input type="password" name="txtPwd" placeholder="Hasło" />
                    </div>
                    <div>
                        <button>Zarejestruj</button>
                    </div>
                    <% if (locals.message) { %>
                    <div class="message">
                        <%= locals.message %>
                    </div>
                    <% } %>
                </form>
                <button onclick="window.location.href = '/';">Powrót do strony głównej</button>
            </div>
        </div>
    </body>
</html>