.root {
    -fx-background-color: #202225;
}

.label {
    -fx-text-fill: #dddddd;
    -fx-font-size: 13px;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 12 0;
}

.description {
    -fx-font-size: 16px;
    -fx-text-fill: #7d94f8;
    -fx-padding: 0 0 12 0;
}


.text-field {
    -fx-background-color: #2f3136;
    -fx-text-fill: #eaeaea;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 6px;
    -fx-border-color: transparent;
    -fx-border-radius: 6px;
    -fx-padding: 6px 8px;
    -fx-font-family: "Consolas", "Courier New", monospace;
}

.text-field:focused {
    -fx-border-color: #7289da;
}

.decimal-field {
    -fx-background-color: #4145a8;
    -fx-background-insets: 0, -2;
    -fx-background-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-border-color: #8ea1e1;
    -fx-border-radius: 6px;
}
