body {
  background-color: #2e2e56;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.calculator {
  background-color: #4a4a8a;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 500px;
}

#display {
  background-color: #fff;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  text-align: left;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

button {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.numerical {
  background-color: #444;
}

.functional {
  background-color: #666;
}

#equals {
  background-color: #88b3ff;
}

button:hover {
  filter: brightness(0.8);
}


